<div class="app-head">
    <h2>About YoutubeK</h2>
</div>
<div class="app-content">
    <p>Fork by Bernard Gabon base on angular2-yt-player of Alex Olari.</p>
    <p>This is a simple music queing app for Youtube karaoke session, based on angular-cli 1.4, NWjs 0.25.2, Firebase/Firestore, ng2-youtube-player 0.0.3 (used for youtube iFrame API), SCSS (CSS3), HTML5 and webkit functions.</p>
    <p>This karaoke player is compatible only with Chrome/webkit/Safari/Mac/iOS browsers.</p>
    <p>The project status is beta.</p>
    <p>&nbsp;</p>
    <h2>Adblock for Youtube</h2>
    <p>For a smooth ad-banner-free karaoke experience, please install 
            <a href="https://chrome.google.com/webstore/detail/adblock-for-youtube/cmedhionkhpnakcndndgjdbohmhepckk">Adblock for Chrome. <br>
                <img alt="Extension" aria-label="Extension" src="https://lh3.googleusercontent.com/wHakeb5_9Tt5ymF5T3l3waztfFZKnwg6DNLT3kxH75vkmSal6jBPK9_E0WdXyABvdMGIa6oo_w=w26-h26-e365" style=" width:26px; height:26px;">
            </a>
        </p>

        

</div>